{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Translator</title>
    <script src="{% static 't1/script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 't1/tra.css' %}">
    <!-- Include CSS and JavaScript files if needed -->
</head>
<body>
  <nav class="menu">
    <h3><span>TextQuill</span></h3>
      <ul>
        <li class="li1"><a href="{% url 'input_form' %}">Summarizer</a></li>
        <li class="li2"><a href="{% url 'translator_form' %}">Translator</a></li>
        <li class="li3"><a href="{% url 'paraphraser_form' %}">Paraphraser</a></li>
        <li class="li4"><a href="#">About</a></li>     
      </ul>
  </nav>

   <form id="transForm" method="post" action="{% url 'translator_form' %}">
    {% csrf_token %}
    <div class="text-input">
      <div class="input-outline">
        <div class="top-input">
          <button class="clearb" type="button" onclick="clearTextArea()">Clear</button>
          <button class="pasteb" type="button" onclick="pasteText()">Paste</button>
          <button id="uploadButton" type="button" onclick="uploadFile()">Upload</button>
          <input type="file" id="documentUpload" accept=".txt, .docx,.pdf" style="display: none;" onchange="handleFileUpload(event)">
        </div>
        <textarea id="inputText" name="input_text" placeholder="Enter your text here" spellcheck="false"></textarea>
        <div class="bottom-input"> 
          
          <div class="translate-input">
            <label for="translate">Translate&nbsp;&nbsp;&nbsp;:</label>
            <select id="translate" name="translate_language">
              <option value="" selected disabled>None</option>
              <option value="hi">Hindi</option>
              <option value="ml">Malayalam</option>
              <option value="es">Spanish</option>
              <option value="ru">Russian</option>
              <option value="ja">Japanese</option>
              <option value="fr">French</option>
              <option value="de">German</option>
              <!-- Add more language options as needed -->
            </select>
          </div>
          <div class="submitb">
            <button class="submit" type="submit">Translate</button>
          </div>    
        </div>
        </div>
      </div> 
    </div>
  </form>

{% if translated_text %}
<div id="translatedText">
    <h2>Translated Text:</h2>
    <p>{{ translated_text }}</p>
</div>
{% endif %}

</body>
</html>

